<!-- <mat-card class="text-center">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
    </form>
</mat-card> -->

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header style="display:flex; justify-content: space-between;">
            <mat-card-title>{{'title' | translate}}</mat-card-title>

            <mat-form-field appearance="outline">
                <mat-label>{{'selectLang' | translate}}</mat-label>
                <mat-select [(ngModel)]="selectedLang" name="language" (ngModelChange)="onLangChange()">
                    <mat-option value="ar">
                        {{'arabic' | translate}}
                    </mat-option>
                    <mat-option value="en">
                        {{'english' | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-header>
        <form class="example-form">
            <mat-card-content class="m-2 row">
                <mat-form-field class="example-full-width col-md-4" appearance="outline">
                    <mat-label> {{'username' | translate}} </mat-label>
                    <input matInput placeholder="'username' | translate" type="text">
                </mat-form-field>
                <mat-form-field class="example-full-width col-md-4" appearance="outline">
                    <mat-label> {{'email' | translate}} </mat-label>
                    <input matInput placeholder="Email" type="mail">
                </mat-form-field>
                <mat-form-field class="example-full-width col-md-4" appearance="outline">
                    <mat-label> {{'phoneNumber' | translate}} </mat-label>
                    <input matInput placeholder="'username' | translate" type="text">
                </mat-form-field>

            </mat-card-content>

            <div class="text-center">
                <mat-form-field appearance="outline">
                    <mat-label> {{'selectAttachment' | translate}} </mat-label>
                    <mat-select [(ngModel)]="selectedUpload" name="upload" (ngModelChange)="onUploadSelectChange()">
                        <mat-option value="photos">
                            {{'addPhotos' | translate}}
                        </mat-option>
                        <mat-option value="folder">
                            {{'addFolder' | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </form>
    </mat-card>

    <form *ngIf="showUploadPhotos">
        <app-upload-image></app-upload-image>
    </form>

    <form *ngIf="showUploadFolder">
        <app-upload-folder></app-upload-folder>
    </form>
</div>